*{
    padding: 0;
    margin: 0;

}
html,body{
    height:100%;
    overflow: none;    
}

section.banner_principal{
    background-color: grey;
    background-image:url('../img/bg1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 1%;
    height:100%;
}

section.banner_principal .opacidade{
    width: 100%;
    position: absolute;
    height: 100%;
    padding-top: 1%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: black;
    z-index: 2;
}

section.banner_principal header{
    text-align: center;
    position: relative;
    padding-bottom: 1%;
    width: 80%;
    margin: auto;
    border-bottom: 2px solid white;
    color: white;
    overflow: hidden;
    z-index: 2;
}

section.banner_principal header .logo{
    width: 20%;
    margin-top  : 1%;
    margin-right: 7%;
    font-size: 1.2vw;
    text-align: left;
    position: absolute;
    left: 1%;
    display: inline-block;
}
section.banner_principal header nav{
    width: 70%;
    margin-bottom: 0.5%;
    display: inline-block;
    margin-top: 2%;
    position: relative;
    float: right;
    text-align: right;
}

section.banner_principal header nav ul{
    width: 33%;
    margin-left: 60%;
    height: 10px;
    text-align: right;
    float: right;
}
section.banner_principal header nav ul li{
    float: left;
    text-align: right;
    margin-left:10%;
    list-style: none;
    font-size: 1vw;
}

section.banner_principal header nav ul li:first-child{
    margin-left: 20%;
}

section.banner_principal header .icon{
    float: right;
}

section.banner_principal header .icon a{
    color: white;
}
section.banner_principal header .icon a:hover{
    color: rgba(255,255,255,0.5);
}

section.banner_principal .informações{
    position: relative;
    top: 20%;
    left: 12%;
    color: white;
    z-index: 3;
    width: 60%;
    font-weight: 100;
}

section.banner_principal .informações h1{
font-weight: lighter;
font-size: 2vw;
}
section.banner_principal .informações h1 span{
    color: #2692ff;
    }
section.banner_principal .informações p{
    font-weight: lighter;
    font-size: 1vw;
    margin-top: 2%;
    width: 85%;
}    
section.banner_principal .informações .botaoSaibaMais button{
    width: 20%;
    height: 3vw;
    margin-top: 2%;
    background-color: #2692ff;
    color: white;
    font-size: 1.1vw;
    border: none;
    border-radius: 30px;
    cursor:pointer;

    }


section.planos{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}

section.planos .planos_divisao{
    width: 100%;
    padding: 1.2vw 0;
    text-align: center;
    background-color: rgb(224, 224, 224);
}

section.planos .planos_divisao h1{
    color: #2692ff;
    font-size: 1.5vw;
    font-weight: lighter;
    width: 20%;
    margin: auto;
    border-top: 3px solid #2692ff;    
}

section.planos .planos-box{
    display: flex;
}

 section.planos .planos-box .box{
    background-color: rgb(255, 255, 255);
    width: 20vw;
    margin: 3% auto;
    box-shadow: 0.5px 2px 5px rgba(000, 000, 000, 0.5);
}
   


section.planos .planos-box .box h2{
    background-color: #2692ff;
    padding: 4% 0;
    color: white;
    font-weight: lighter;
    text-align: center;
}

section.planos .planos-box .box ul{

    margin: 0 7%;
    padding: 12% 0;
    padding-bottom: 2%;
    text-align: left;
}

section.planos .planos-box .box ul li{
    list-style: none;
    margin: 6% 0;
    margin-top: 0;
}

section.planos .planos-box .box h1{
    border-top: 2px solid rgba(120, 120, 120, 1);
    color: rgba(120, 120, 120, 1);
    text-align: center;
    width: 50%;
    font-size: 2vw;
    margin: 10% auto;
}

section.sobre{
    background-color: grey;
    background-image:url('../img/bg2.avif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 1%;
    text-align: center;
    height:70%;
    position: relative
}

section.sobre .opacidade{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: black;
    z-index: 1;
}

section.sobre .contein{
    width:80% ;
    margin: auto;
    position: absolute  ;
    top: 10%;
    left: 10%;
    z-index: 2;
}

section.sobre .contein h1{
    margin: 1.5%;
    font-size: 2.5vw;
    color: white;
}

section.sobre .contein p{
    margin: 3% 10%;
    text-align: left;
    color: white;
    font-size: 1.1vw;
    width: 80%;
}

section.sobre .contein span{
    color: #2692ff;
}



section.contato{
    width: 100%;
    display: flex;
}

section.contato .formulario{
    width: 50%;
}

section.contato .formulario .form-contato{
    margin: 5% 0 0 5%;
}

section.contato .formulario .form-contato h1,section.contato .formulario .form-contato input,section.contato .formulario .form-contato textarea{
    display: block;
    margin: 4% 0;
    width: 70%;
    padding: 2% 2%;
    border: 2px solid rgb(200,200,200);
    box-shadow: 0px 2px 5px rgba(000,000,000,0.2);
}
section.contato .formulario hr{
    background-color: rgb(150,150,150);
    margin: 0;
    height: 2px;
    width: 8vw;
    border: none
}
section.contato .formulario .form-contato h1{

    margin: -10px 0 0 -2.2%;
    height: 15px;
    border: none;
    font-size: 2.2vw;
    color: rgb(150,150,150);
    box-shadow: none;
}
section.contato .formulario .form-contato textarea{
    height: 10vw;
    width: 75%;
}

section.contato .formulario .form-contato input[type=submit]{
    width: 30%;
    height: 3vw;
    margin-top: 2%;
    background-color: #2692ff;
    color: white;
    font-size: 1.1vw;
    border: none;
    border-radius: 30px;
    cursor:pointer;

}

section.contato .cards{
    width: 50%;
    margin:1% 0 0 5%;

}

section.contato .double-cards{
    width: 100%;
    display: flex;

}

section.contato .cards hr{
    background-color: rgb(150,150,150);
    margin: 2% 0;
    height: 2px;
    width: 8vw;
    border: none
}
section.contato .cards h1{

    margin-top: -10px;
    height: 15px;
    border: none;
    font-size: 2.2vw;
    color: rgb(150,150,150);
    box-shadow: none;
}

section.contato .cards .double-cards .card-box{
    width: 50%;
    height: 27vw;
    margin: 5%;
    background-color: rgb(240,240,240);
    text-align: center;
    box-shadow: 0px 2px 5px rgba(50,50,50,0.5)
}

section.contato .cards .double-cards .card-box:first-child{
    margin-left: 0;
    }

section.contato .informações-user{
    padding: 5%;
    display: flex;
    align-items:center;
    font-size: 1.5vw;
    color: rgb(100,100,100);
    width: 80%;
    margin: 0 5%;
    border-bottom: 2px solid grey;
}
section.contato .informações-user .circle_user{
    background-color: grey;
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    margin:2% 4% 2% -4%;
}

section.contato .descrição_usuario{
    color: rgb(70,70,70);
    margin-top: 10%;
    padding: 5%;
    font-size: 1.2vw;
}

section.banner_principal header nav.mobile{
    display: none;
}
@media screen and (max-width: 600px){
    section.banner_principal{height:150vw;}
    section.banner_principal .opacidade{height: 150vw;z-index: 1;}
    section.banner_principal header .logo{font-size: 4vw;width: 40%;margin-top: 7vw;}
    section.banner_principal header nav.desktop{display: none;}
    section.banner_principal header{padding:5% 0 15% 0 ;overflow:visible;}

    section.banner_principal header nav.mobile{width: 8%;height: 8vw;display: block;margin: 7% -8% 0 0;font-size: 7vw;}
    section.banner_principal header nav.mobile i{user-select: none;}
    section.banner_principal header nav.mobile ul{display: none;width: 80vw;height: 30vw;left: -78vw;top: 12vw;position: absolute;z-index: 2;}
    section.banner_principal header nav.mobile ul li{BACKGROUND-COLOR:rgb(255, 255, 255);width: 100%;margin: 0.3vw 0;padding: 2.5vw 0;text-align: center;font-size: 5vw;font-weight: 700;color: #2692ff;}
    
    section.banner_principal .informações{width: 90vw;font-weight: 100;top: 25%;left: 10%;position: absolute;z-index: 1;}
    section.banner_principal .informações h1{font-size: 6vw;}
    section.banner_principal .informações p{font-size: 2.5vw;width: 85%;}    
    section.banner_principal .informações .botaoSaibaMais button{width: 40vw;height: 10vw;margin-top: 3%;font-size: 4vw;}
    
    section.planos .planos_divisao{padding: 4vw 0;}
    section.planos .planos_divisao h1{font-size: 4vw;font-weight: lighter;width: 60vw;padding-top: 1.5vw;}
    section.planos .planos-box .box{width: 70vw;margin: 3% auto;}
    section.planos .planos-box{display: block;}
    section.planos .planos-box .box h1{font-size: 8vw;margin: 15% auto;margin-top:8%;padding-bottom: 6vw;}
    section.planos .planos-box .box h2{font-size: 6vw;}
    section.planos .planos-box .box ul{font-size: 3.5vw}
    
    section.sobre{height: 140vw;}
    section.sobre .contein h1{font-size: 7vw;}
    section.sobre .contein p{margin: 7% 1.5%;text-align: justify;font-size: 2.2vw;width: 97%;}
    
    
    section.contato{display: block;}
    section.contato .cards{width: 70%;margin:1% 5%;}
    section.contato .double-cards{display: block;width: 100%;padding:2%;}
    section.contato .cards .double-cards .card-box,section.contato .cards .double-cards .card-box:first-child{width: 100%;height: 77vw;margin: 25% 15%;} 
    section.contato .descrição_usuario{font-size: 3vw;}

    section.contato .formulario{width: 100%;}
    section.contato .formulario .form-contato h1,section.contato .formulario .form-contato input,section.contato .formulario .form-contato textarea{margin: 4% 0;width: 75%;padding: 4% 3%;font-size: 3vw;}
    section.contato .formulario hr{margin-left: 1%;height: 2px;width: 15vw;border: none}
    section.contato .formulario .form-contato h1{margin: -10px 0 0 -2.2%;font-size: 6vw;}
    section.contato .formulario .form-contato textarea{height: 10vw;width: 75%;}
    section.contato .formulario .form-contato input[type=submit]{width: 35%;height: 10vw;padding-top: 2.6%;font-size: 3.5vw;}

    section.contato .cards hr{height: 4px;width: 15vw;}
    section.contato .cards h1{height: 15px;font-size: 6vw;margin-top: 3%;}
    section.contato .informações-user{font-size: 4vw;margin: 0 8%;}
    section.contato .informações-user .circle_user{width: 14vw;height: 14vw;border-radius: 100%;margin:2% 5% 2% -4%;}
}
